* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    min-height: 10vh;
    border-bottom: 2px solid #d90368;
}

.navbar-collapse {
    justify-content: end;
}

.nav-link {
    color: #ffffff !important;
    background-color: #d90368;
    border: 2px solid black;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: .2rem;
} 

a.active {
    background-color: rgba(5, 3, 3, 0.144) !important;
    border: 1px solid #d90368;
}

.nav-link:hover {
    background-color: #ff1582e8;
}

main {
    min-height: 82vh;
}

.carousel-item {
    height: 20vh;
}


footer {
    min-height: 8vh;
    color: #d90368;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-top: 2px solid #d90368;
}

.rrss svg {
    color: #d90368 !important;
}